<div class="cover">
  <div class="cover-inner">
    <div class="cover-contents">
      <h1>素敵なモノと出会う場所</h1>
      <%= link_to 'モノリストを始める' , login_path, class: "btn btn-success btn-lg" %>
    </div>
  </div>
</div>

<div class="ranking">
  <div class="button">
    <%= link_to 'Want ranking' , ranking_want_path, class: "btn btn-success btn-md" %>
    <%= link_to 'Have ranking' , ranking_have_path, class: "btn btn-warning btn-md" %>
    </div>
</div>

<%= render 'items/list' , items: @items %>