<div class="ranking">
  <div class="pagetitle">
    <h1>Want Ranking</h1>
  </div>
</div>

<%= render 'ranking' , rank_items: @rank_items , rank_rankings: @rank_rankings, rank_counts: @rank_counts, type: @type %>
